.flex-container {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  background-color: #1f2937;
}

.flex-container img {
  align-self: flex-end;
}

.container2 {
  background-color: #3882f6;
}
.flex {
  background-color: #3882f6;
}
.lastflex {
  background-color: #e5e7eb;
}
.subtitle {
  font-size: 48px;
  font-weight: bold;
  color: #f9faf8;
  background-color: #1f2937;
}

.text {
  font-size: 18px;
  color: #e5e7eb;
}

a {
  font-size: 18px;
  color: #e5e7eb;
  align-self: flex-end;
}

.links {
  justify-content: flex-end;
  }

h2 {
  font-size: 24px;
  color: #f9faf8;
  align-self: flex-start;
  margin-top: 2px;
  margin-right: 10px;
}

button {
  color: #3882f6;
}

h5 {
  background-color: #3882f6;
}

.second-subtitle {
  font-size: 36px;
  font-weight: bold;
  color: #1f2937;
}

.review-page {
  background-color: #e5e7eb;
  font-size: 36px;
  font-style: italic;
  font-weight: light;
  color: #1f2937;
}
  
